body {
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    margin-top: 1vw;
    font-size: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
titel. {
    font-size: 15px;
}