*,
*::before,
*::after {
}
body {
  cursor: none;
  background-color: white;
}

@font-face {
  font-family: Posterfont;
  src: url(fonts/c7988a4e3e8cc0b7152a121298699ed0.woff2);
}
#custom-cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  font-family: Posterfont;
  color: white;
  text-indent: 35px;
  font-size: 25px;
  background-image: url(cursor-01.svg);
  z-index: 1;
}
#dario-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Bild proportional im Container füllen */
  object-position: center; /* Bild im Container zentrieren */
}

::selection {
  color: #db0034;
  background-color: transparent;
}

@keyframes scrollBannerhigh {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scrollBanner {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plakat {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  white-space: nowrap;
  font-family: Posterfont;
}

.container1 {
  height: 98vh;
  font-family: Posterfont;
  display: flex;
  align-items: stretch;
  align-content: center;
  background-color: gray;
  justify-content: stretch;
  align-items: stretch;
}

.item {
  writing-mode: sideways-rl;
  transition: font-size 0.3s ease-out;
  border-top: 1px solid black;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
  font-size: 7.2vw;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.item:hover {
  background-color: rgb(141, 233, 113);
  font-size: 7vw;
  transition: transform 1s ease-in-out;
}
.item-2 {
  display: flex;
  justify-content: space-between;
  border-left: none;
  padding-right: 1rem;
  animation: scrollBannerhigh 1.9s ease-in;
}
.item-3 {
  animation: scrollBannerhigh 2s ease-in;
}
.item-4 {
  animation: scrollBannerhigh 2.4s ease-in;
}

.item-5 {
  animation: scrollBannerhigh 2.2s ease-in;
}
.item-6 {
  animation: scrollBannerhigh 2.7s ease-in;
}
.item-7 {
  animation: scrollBannerhigh 2.4s ease-in;
}

.item-8 {
  animation: scrollBannerhigh 2.3s ease-in;
}
.item-9 {
  animation: scrollBannerhigh 2.4s ease-in;
}

.subitem-1,
.subitem-3,
.subitem-5,
.subitem-7,
.subitem-9,
.subitem-11,
.subitem-13,
.subitem-15 {
  height: fit-content;
  writing-mode: horizontal-tb;
}

.subitem-2,
.subitem-4,
.subitem-6,
.subitem-8,
.subitem-10,
.subitem-12,
.subitem-14 {
  text-align: end;
  height: fit-content;
  text-align: center;
  writing-mode: sideways-lr;
  font-size: 4vw;
}

.child {
  writing-mode: horizontal-tb;
  border-top: 4px;
  font-size: 3.5vw;
  border-top: 1px solid black;
  overflow: hidden;
  background-color: white;
  transition: font-size 0.3s ease-out;
}
.child:hover {
  background-color: rgb(141, 233, 113);
  font-size: 3.7vw;
  transition: 0s;
}

.footer {
  display: flex;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  font-size: 1vw;
  min-height: 30%;
  background-color: white;
}
